/* ==================== */
/* BASIC SETUP */
/* ==================== */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    line-height:1.3 ;
    font-size: 1.6rem;
}
ul li {
	list-style-type: none;
}
/* Heading */
h1{
	font-size: 4.2rem;
	color:  #fff;
}
/* ==================== */
/* Button */
/* ==================== */

.btn:link,
.btn:visited,
.btn{
	background:  #333;
	border-bottom:  .3rem solid #000;
	color:  #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.5rem 6.0rem;
	border-radius: .3rem;
	display: inline-block;
	margin-top: 4.5rem;
}

/* ==================== */
/* Reusable Components */
/* ==================== */

.row {
	max-width:  114rem;
	margin:  0 auto;
}
section{
	padding:8rem 0;
}

h2{
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing:  .3rem;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 2rem;
	color: #fff;
	text-align: center;
}
h2::after{
	content: "";
	display: block;
	height:  .4rem;
	background:  #fff;
	width: 8.5rem;
	margin: auto;
	margin-top: 2rem;
	text-align: center;
}
h3{
	font-size: 2.4rem;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 2rem;
	color:  #fff;
}
h4{
	font-size: 1.8rem;
	font-weight: 400;
	margin-top: 2rem;
	text-transform: uppercase;
}
.box{
	padding: 1%;
}
.box p{
	font-size: 1.6rem;
	font-weight: 300;
	margin-top: 2rem;
	color:  #fff;
}

/* ==================== */
/* Paragraph */
/* ==================== */

.little-description{
	font-size: 1.8rem;
	width: 60%;
	margin-left: 20%;
	line-height: 3rem;
}


/* ==================== */
/* Header Section */
/* ==================== */
header{
	background: linear-gradient(rgba(135,80,156,0.9),rgba(135,80,156,0.9)),url(img/hero-bg.jpg) ;
	background-attachment: fixed;
	background-repeat:no-repeat; 
	background-size: cover;
	background-position: center center;
	height:  85vh;
	position:  relative;
}
.logo{
	height:  3.5rem;
	width:  auto;
	margin-top: 3.5rem;
	float: left;
}

.main-nav{
	float: right;
		margin-top: 4rem;
}
.main-nav li{
	display:  inline-block;
	margin-left: 1rem;
}
.main-nav li:first-child{
	margin-left: 0;
}
.main-nav li a:link,
.main-nav li a:visited {
	color:  #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding:.6rem 1.6rem;
	border-radius: .3rem;
	background: rgba(100,58,121,0);
	display: inline-block;
	font-size:  1.6rem;
	transition: .3sec;
}
.main-nav li:hover a:link,
.main-nav li:hover a:visited{
	background:  #643a79;
}
.main-nav li.active a{
	background: #643a79 ;
}

/*sticky navigation*/
.sticky{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(135,80,150,0.9);
	padding:  	1rem 0;
	box-shadow: 0 .2rem .5rem rgba(255,255,255,0.9);
}
.sticky .logo {
	margin-top:  0;
}
.sticky .main-nav {
	margin-top: .2rem;
}
.hero-text-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.btn-hero:link,
.btn-hero:visited{
	background:  #eb7d4b;
	border-color:  #c86a40;
}

/* ==================== */
/* Services Sections */
/* ==================== */

.services-section{
	color: #fff;
	text-align: center;
	background:  linear-gradient(rgba(23,194,164,0.9),rgba(23,194,164,0.9)),url(img/services-bg.jpg);
	background-repeat:no-repeat; 
	background-size: cover;
	background-position: center top;
}
.services-sectionh2::after{
	background: #14a58c;
}
.services-icon{
	height: 12rem;
	margin-top: 4.5rem;
	margin-bottom: 3.5rem;
}

/* ==================== */
/* Team Sections */
/* ==================== */

.team-section{
	text-align: center;
	background: liner-gradient(rgba(231,241,248,0.9),rgba(231,241,248,0.9)),url(img/team-bg.jpg);
	background-repeat: no-repeat;
	background-size:  cover;
	background-position: center top;
	background-attachment: fixed;
}
.team-section h2{
	color:  #3c4761;
}
.team-section h2::after{
	background:  #c8d9e5;
}
.team-member{
	margin-top:  4.5rem;
	margin-bottom:  3.5rem;
	height: 20rem;
	width: 20rem;
	border-radius: 50%;
}
.team-section h3{
	color:  #27283d;
}
.role{
	color:  #30bae7;
	font-size: 1.6rem;
	text-transform: capitalize;
	margin-top: .5rem;
	display:  inline-block;
}
.team-section .box p{
	color: #3c4761 ;

}
.social-link{
	margin-top:  4.5rem;
}
.social-link ul li{
	display:  inline-block;
	margin:  0 .5rem;
}
.social-link ul li a:link{
	color:  #fff;
}
.social-link ul li a:link i::before{
	background:  #bdd1df;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: inline-block;
	font-size:  2rem;
	padding: 1rem;
	transition:  .5s;
}
.social-link ul li a:hover i::before{
	background: #393939;
	transform: rotate(360deg);
}
.social-link, .fa, .fab, .fal, .far, .fas{
	color: #fff;
}
/* ==================== */
/* Skills Sections */
/* ==================== */

.skill-section{
	text-align:center;
	background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)),url(img/skill-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.skill-section h2,
.skill-section h3{
	color:  #3c4761;
}
.skill-section h2::after{
	background:#dfe8ed; 
}
.skill-section .box{
	margin-top:  4.5rem;
}
svg.radial-progress circle{
	stroke-width:  5;
}
svg.radial-progress text{
	fill: #3c4761;
	font-size:  1.5rem;
}
svg.web-design circle{
	stroke:  #39bae7;
}
svg.html-css circle{
	stroke:  #d74680;
}
svg.graphics-design circle{
	stroke:  #15c7a8;
}
svg.ui-ux circle{
	stroke:  #eb7d4b;
}

/* ==================== */
/* Portfolio Sections */
/* ==================== */

.portfolio-section{
	background: linear-gradient(rgba(255,221,153,0.9),rgba(255,211,153,0.9)) ,url(img/portfolio-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
}
.portfolio-section h2{
	color: #3c4761;
}
.portfolio-section h2::after{
	background:  #e5c37f;
}
.portfolio-filter{
	margin:  4.5rem 0;
}
.portfolio-filter button{
	background: #ebc985 ;
	font-size:  1.8rem;
	padding:  1rem 2rem;
	border: 0;
	border-radius: .5rem;
	text-transform: uppercase;
	color:  #3c4761;
	margin:  0 .5rem;
	transition: .5s;
}
.portfolio-filter button:hover{
	cursor:  pointer;
	box-shadow:  inset 0 0.3rem .5rem rgba(60,71.97,0.5);
}
.portfolio-image{
	width: 100%;
	height:  30rem;
}
.portfolio-section .col:nth-child(3){
	margin-left: 0;
}
.btn-load-more{
	background:  #17c2a4;
	border-color:  #14a58c;
}
.portfolio-section .mixitup-control-active{
	background:  #fff;
}

/* ==================== */
/* Testimonial Sections */
/* ==================== */

.testimonial{
	background: linear-gradient(rgba(215,70,128,0.9),rgba(215,70,128,0.9)) ,url(img/testimonial-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.testimonial .little-description{
	text-align: center;
	color: #fff;
}
.testimonial .col:nth-child(3){
	margin-left: 0;
}
.testimonial .col:nth-child(1),
.testimonial .col:nth-child(2){
	margin-top: 4rem;
}
.testimonial .col:nth-child(3),
.testimonial .col:nth-child(4){
	margin-top: 8rem;
}
.client-photo{
	width: 10rem;
	float:left;
}
.client-photo img{
	height: 8rem;
	border-radius: 50%;
	margin-bottom: 3rem;
}
.client-review{
	width: 35rem;
	float: left;
}
.client-review p{
	font-size: 2.1rem;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 2rem;
}
.client-review .role{
	color: #ffdd99;
}

/* ==================== */
/* Contact Sections */
/* ==================== */

.contact-section{
	text-align: center;
	background: linear-gradient(rgba(60,84,153,0.9),rgba(60,84,153,0.9)),url(img/contact-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 20%;
	background-attachment: fixed;
}
.contact-section h2::after{
	background:  #273a71;
}
.contact-section .little-description{
	color: #fff;
}
.contact-section form{
	margin-top:  5rem;
	width: 70%;
	margin-left: 15%;
}
.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea{
	background:  #273a71;
	border:  .1rem solid #273a71;
	width: 100%;
	padding:  1.5rem;
	border-radius: .5rem;
	font-size: 1.8rem;
	color:  #fff;
	margin: .5rem 0;
}
.contact-section textarea{
	height: 20rem;
	font-family:  'Titillium Web','sans-serif';
}
.contact-section form :: placeholder{
	color: #fff;
	opacity: 1;
}
.btn-submit{
	border: 0;
	border-bottom:  .3rem solid #299ec5;
	background: #30bae7;
}
.btn-submit{
	cursor: pointer;
}
/*==================================*/
/*==========Footer section==========*/
/*==================================*/

.footer-section{
	background:  #344bBe;
	padding:  3rem 0;
	text-align:  center;
	border-top:  .1rem solid rgba(255,255,255,0.3);

}
.footer-section li {
	display:  inline-block;
	margin: 0 2rem;
}
.footer-section li a{
	color: #fff;
	text-decoration:  none;
	text-transform: capitalize;
	font-size:  2.4rem;
}
.footer-section li:hover a{
	color:  #30bae7;
}